<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- <package name="com.simpolor.app.model" />-->
        <typeAlias alias="demo" type="com.simpolor.cms.module.demo.domain.Demo" />
        <typeAlias alias="member" type="com.simpolor.cms.module.member.domain.Member" />
        <typeAlias alias="memberRole" type="com.simpolor.cms.module.member.domain.MemberRole" />
        <typeAlias alias="role" type="com.simpolor.cms.module.role.domain.Role" />
        <typeAlias alias="access" type="com.simpolor.cms.module.access.domain.Access" />
        
        <typeAlias alias="token" type="com.simpolor.cms.security.domain.Token" />
    </typeAliases>
    
    
    <mappers>
        <mapper resource="mybatis/mapper/demo/demo.xml"/>
        <mapper resource="mybatis/mapper/member/member.xml"/>
        <mapper resource="mybatis/mapper/access/access.xml"/>
        <mapper resource="mybatis/mapper/role/role.xml"/>
        <mapper resource="mybatis/mapper/security/token.xml"/>
    </mappers>
</configuration>